  body {
      background-color: #f6f6f6;
    
            font-family: Arial, Helvetica, sans-serif;
            margin: 1% ;
      ;
  }

  hr {
      background-color: #778da9;
      height: 1.5px;
      width: 100%;
  }
  h1{
    color: #1b263b;
  }
  h2{
    color: #1b263b ;
    
  }
  h3{
    color: #1b263b;
  }
  td{
    color: black ;
  }
  .navbar {
      overflow:hidden;
      background-color: #1b263b;
      position: fixed;
      bottom: 0;
      width: 100%;
  }
  .navbar a {
      float: left;
      display: block;
      color: #e0e1dd;
      text-align: center;
      padding: 1%;
      text-decoration: none;
      font-size: 17px;
  }
  .navbar a:hover {
      background-color: #e0e1dd;
      
      color: black; 
  }
  .circular{
    border-radius: 8%;  
    transition: transform .2s; 
    width: 
    height: 200px;
     margin: 0 auto;
  }

.circular:hover{
  transform: scale(1.1); 
}
h4{
  color :#1b263b;
}