  body {
      background-color: #DCD7C9;
      ;
  }

  hr {
      background-color: #3F4E4F;
      height: 1px;
      width: 100%;
  }
  h1{
    color: #b77b4b;
  }
  h2{
    color: #b77b4b ;
    
  }
  h3{
    color: #2C3639;
  }
  td{
    color: ;
  }